{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../Images/img-DS.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Checkout</title>
    <link rel="stylesheet" href="{% static 'Orders/css/checkout.css'%}" />
    <link rel="stylesheet" href="{% static 'Products/css/modal.css'%}" />
    <script>
      url = "{% url 'cart' %}"
      confirmation_url = "{% url 'confirmation' %}"
      csrf_token="{{csrf_token}}"
      checkout_url="{% url 'checkout' %}"
      </script>
    <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
    rel="stylesheet"
    />
    <script src="{% static 'Orders/js/checkout.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <script
			  src="https://code.jquery.com/jquery-3.6.0.js"
			  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			  crossorigin="anonymous"></script>
  </script>
  <script>
    $(window).on('load',function() {
    // Animate loader off screen
    nav_url = "{% url 'getnavbar' %}"
    category_url ="{% url 'category'%}"
    rendernavbar();
    });

  </script>
  </head>

  <body>
    <div class="se-pre-con"></div>
    <header>
      <nav>
        <ul class="content">
          <li class="primary-nav">
            <img src="../Images/img-DS.png" alt="logo" />
            <a href="{% url 'home' %}">DOWNY SHOES</a>
          </li>
          <li class="secondary-nav">
            <a href="{% url 'cart' %}">
              <i class="fas fa-shopping-cart"></i> CART
            </a>
          </li>
          
          <li class="secondary-nav">
            {% if user.is_authenticated  %}
              <a href="#">{{user|title}}</a>
              <div class="megamenu" style="height: 64px; width: 180px;">
                <span>
                  <a href="{% url 'profile' %}">Profile</a>
                  <a href="{% url 'logout' %}">Logout</a>
                </span>
              </div>
            {% else %}
            <a href="#">Login</a>
            <div class="megamenu" style="height: 64px; width: 180px;">
              <span>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
              </span>
            </div>
            {% endif %}
          </li>
          <li class="secondary-nav" ><a href="#">SPORT</a>
            <div class="megamenu" style="height: 140px; width: 180px;">
              <span id='navbar-sport'>
                
              </span>
            </div>
          </li>
          <li class="secondary-nav" ><a href="#">CATEGORIES</a>
            <div class="megamenu" style="height: 100px; width: 180px;">
              <span id='navbar-category'>
                
              </span>
            </div>
          </li>
          <li class="secondary-nav" ><a href="#">BRANDS</a>
            <div class="megamenu" style="height: 200px; width: 180px;">
              <span id='navbar-brand'>
                
              </span>
            </div>
          </li>
          <li class="secondary-nav">
            <a href="{% url 'home' %}">HOME</a>
          </li>
        </ul>
      </nav>
    </header>
    	
    <section>
      {% if no_items %}
      <h1>no items</h1>
      <a style="margin-left: 38px;" href="{% url 'home' %}">Continue Shopping</a>
      {% else %}
      <h1>Cart</h1>
      <div class="row">
        <div class="column">
          <h1>Your Order</h1>
          {% for cart_item in cart_items %}
          <div data-item-id="{{cart_item.id}}" class="cart-item" id="item">
            <img src="{{cart_item.product_id.image}}" alt="" />
            <p><a href="{% url 'product_url' %}{{cart_item.product_id.slug}}">{{cart_item.product_id|truncatechars_html:15}}</a></p>
            <p data-id="{{cart_item.id}}">₹{{cart_item.total_price}}</p>
            <input onchange="changequantity(this.value,'{{cart_item.id}}')"
              type="number"
              name="quantity"
              id="no-of-items"
              value="{{cart_item.quantity}}" 
            />
            <button onclick="deletecartitem('{{cart_item.id}}')" id="remove" class="remove">
              <i class="fas fa-trash fa-2x"></i>
            </button>
          </div>
          {% endfor %}
          <hr />
        </div>
        <div class="column2">
          <h3>Cart Totals</h3>
          <div class="row1">
            <div class="col">
              <h5>Subtotals</h5>
              <h5>Shipping</h5>
            </div>
            <div class="col">
              <h5 data-id="data-grand-total">₹ {{grand_total}}</h5>
              <div class="wrapper">
                <span>
                  Free Shipping
                  <br />
                </span>
              </div>
            </div>
          </div>
          <h3 data-id="data-grand-total">Totals &nbsp; &nbsp; ₹ {{grand_total}}</h3>
          <div class="buttons">
            <button onclick="checkout()" class="button-checkout">Checkout</button>
            <a class="cancel" href="{% url 'home' %}">Continue Shopping</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h1 id='address-h1'>Select Address <button id='addressbutton' onclick="showaddresses()" style="float: right;display: none;">Change</button> </h1>
          <span id='selected-address'>
          </span>
          <hr/>
          <div id='addresses'>
            {% for address in addresses %}
            <div class="address_component">
              <p>
                <span>{{address.name}}</span>
                <span>{{address.phone}}</span>
                <button onclick="selectaddress('{{address.id}}')" style="float: right" >Select</button>
              </p>
              <span><div>{{address.address}} - {{address.state}}</div>
                <div style="margin-left: 5px;">pin:{{address.pincode}}</div>
              </span>
            </div>
            
            {% endfor %}
            <a href="{% url 'address' %}">Add Address</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h1>Select Card <button id='cardbutton' onclick="showcards()" style="display:none;float: right;">Change</button></h1>
          <span style="display: none;" id='selected-card'>
            <span id='selected-card-name'></span>
            <br/>
            <span id='selected-card-no'></span>
            <label id='cvv-label' style="margin-left: 50%;" for="cvv">cvv
              <input style="width: 50px; " onkeypress="return isNumberKey(event)" pattern="[0-9]{3}" name='cvv' id='cvv' type="text">
            </label>
          </span>
          <div id='cards'>
            {% for card in cards %}
            <div class="card-component">
              <p>
                <span >{{card.name_on_card}}</span>
                <button onclick="selectcard('{{card.id}}')" style="float: right" >Select</button>
              </label>
            </p>
            <span>
              <div>Card no:{{card.card_number}}</div>
              <div>Exp date:{{card.exp_date}}</div>
              
              </span>
            </div>
            {% endfor %}
            <a href="{% url 'cards' %}">Add Card</a>
          </div>
        </div>
      </div>
      {% endif %}
    </section>

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="modal-header"></h2>
        </div>
        <div id='modal-body' class="modal-body">
          
        </div>
        <div style="text-align: center;" class="modal-footer">
          <button onclick="closemodal()" id='modal-yes-button'>Ok</button>
        </div>
      </div>
    
    </div>

  </body>
</html>
