{% extends 'Products/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="row">
      <div class="col1">
        <img src="{{product.image}}" alt="" srcset="" />
      </div>
      <div class="col2">
        <h1>{{product.name}}</h1>
        <p>
          {{product.description}}
        </p>
        <h2>₹{{product.price}}</h2>
        
        <br />
        <br />
        <button class="button-cart" onclick="addtocart()">Add to cart</button>
      </div>
    </div>
    
    <script src="{% static 'Products/js/product.js' %}"></script>
  </section>
  {% endblock %}